---
---
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$base-font-family: Nunito, Roboto, Helvetica, sans-serif;
$brand-color: rgb(247, 196, 28);

@import "{{ site.theme }}";

$title-font-size: 1.625 * $base-font-size;

.site-title {
  color: $brand-color;
}

.header-logo {
  width: $title-font-size;
  position: relative;
  top: -3px;
}

.post-list-heading {
  background: $brand-color;
  text-align: center;
  color: white;
  height: 30vh;
  line-height: 30vh;
  font-size: 3.5em;
}

@include media-query($on-palm) {
    .wrapper {
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }
    .post-list-heading {
      font-size: 2.5em;
    }
  }
